html {
  background-color: white;
  max-width: 950px;
  margin: 30px auto;
  padding: 0;
}

#weatherApp {
  color: black;
  padding: 30px 40px;
  border: 1px solid rgba(192, 192, 192, 0.678);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(139, 139, 139, 0.747);
}

/*weather conditions*/
.tornado {
  background-image: url("images/tornado.jpg"); /*tornado*/
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
}

.clear-sky {
  background-image: url("images/clear-sky.jpg"); /*clear sky*/
  background-repeat: no-repeat;
  background-size: cover;
}

.clouds {
  background-image: url("images/clouds.jpg"); /*clouds*/
  background-repeat: no-repeat;
  background-size: cover;
}

.dust {
  background-image: url("images/dust-ash-sand-smoke.jpg"); /*dust*/
  background-repeat: no-repeat;
  background-size: cover;
}

.haze {
  background-image: url("images/haze-fog-mist.jpg"); /*haze*/
  background-repeat: no-repeat;
  background-size: cover;
}

.rainy {
  background-image: url("images/rainy.jpg"); /*rainy*/
  background-repeat: no-repeat;
  background-size: cover;
}

.snowy {
  background-image: url("images/snowy.jpg"); /*snowy*/
  background-repeat: no-repeat;
  background-size: cover;
}

.stormy {
  background-image: url("images/stormy.jpg"); /*stormy*/
  background-repeat: no-repeat;
  background-size: cover;
}

.thunderstorm {
  background-image: url("images/thunderstorm.jpg"); /*thunderstorm*/
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style: none;
}

.top-icons {
  font-size: 30px;
  padding: 30px 10px;
  color: white;
}

.top-icons:hover {
  color: grey;
}

.search-bar {
  margin: 50px 0 30px 80px;
  padding: 8px 20px;
  width: 75%;
  border-radius: 15px;
}

.search-icon {
  border: 2px inset rgba(70, 69, 69, 0.788);
  border-radius: 15px;
  background-color: white;
  padding: 8px 12px;
}

.today-icon {
  width: 170px;
  height: 160px;
  margin-left: -50px;
  margin-top: -30px;
}

.current-state {
  font-weight: 700;
  text-transform: capitalize;
}

.current-temp {
  font-size: 72px;
}

.current-weather .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.current-weather .active:hover {
  text-decoration: none;
}

.high-low {
  font-size: 19px;
  font-weight: 400;
  padding-left: 10px;
}

.unit {
  position: relative;
  top: -40px;
  font-size: 24px;
  font-weight: 600;
}

.unit-name {
  text-decoration: none;
  color: #95f3ff;
}

.today-info {
  margin: 30px auto;
  background-color: rgba(204, 202, 204, 0.397);
  border-radius: 30px;
  padding: 30px 0;
}

.future-info {
  margin: 20px auto;
  transition: all 0.3s ease-in-out;
  background-color: rgba(204, 202, 204, 0.397);
  border-radius: 20px;
  font-weight: 600;
}

.future-day {
  font-size: 20px;
  margin: 40px auto 10px 4px;
}

.future-icon {
  font-size: 40px;
  max-width: 100%;
  max-height: 100%;
  margin: 15px 1px;
}

.future-icon:hover {
  color: rgb(253, 231, 215);
}

.future-degree {
  font-size: 18px;
  margin: 10px auto 40px;
}

#update {
  font-size: 14px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.021);
}

.bottom-icons {
  font-size: 24px;
  margin: auto 3px;
  color: rgb(0, 0, 0);
  padding: 3px;
}

.developersInfo {
  text-align: center;
}

.linkedin:hover {
  background-color: white;
  color: #0077b5;
}

.instagram:hover {
  color: white;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  border-radius: 4px;
}

.gmail:hover {
  background-color: white;
  color: #fd0429;
}

.github:hover {
  color: white;
  background-color: black;
}

.city {
  padding-right: 30px;
  margin: auto;
  padding-bottom: 14px;
  font-weight: 700;
}

.column-2 {
  margin-left: -30px;
  margin-right: 28px;
}

.column-3 {
  padding-left: 64px;
}

.column-4 {
  padding: 0;
  position: relative;
  left: -20px;
  font-size: 15px;
  top: 63px;
}

.high {
  color: #d60349;
}

.low {
  color: #0a44e2;
}

.coder {
  font-family: cursive;
  text-align: center;
  font-size: 16px;
  line-height: 2.5;
}

.source-code {
  color: #e60b54;
  font-weight: 700;
  text-decoration: none;
}
