html {
  background-color: white;
  max-width: 950px;
  margin: 30px auto;
  padding: 0;
}

.weather-app {
  background: radial-gradient(
    401px at 50.6% -0.3%,
    rgba(252, 243, 243, 0.31) 1.2%,
    rgba(87, 195, 231, 0.808) 100.2%
  );
  padding: 30px 40px;
  border: 1px solid rgba(192, 192, 192, 0.678);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(139, 139, 139, 0.747);
}

ul {
  list-style: none;
}

.top-icons {
  font-size: 30px;
  padding: 30px 10px;
}

.top-icons:hover {
  color: white;
}

.search-bar {
  margin: 50px 0 30px 80px;
  padding: 8px 20px;
  width: 75%;
  border-radius: 15px;
}

.search-icon {
  border: 2px inset rgba(105, 104, 104, 0.699);
  border-radius: 15px;
  background-color: white;
  padding: 8px 12px;
}

.today-icon {
  width: 170px;
  height: 160px;
  margin-left: -50px;
  margin-top: -30px;
}

.current-state {
  font-weight: 700;
  text-transform: capitalize;
  color: rgba(54, 54, 54, 0.836);
}

.current-weather {
  font-size: 72px;
}

.high-low {
  font-size: 19px;
  padding: auto;
  font-weight: 400;
  padding-left: 10px;
}

.unit {
  position: relative;
  top: -40px;
  font-size: 24px;
  font-weight: 600;
}

.unit-name {
  text-decoration: none;
  color: #0f6172d7;
}

.today-info {
  margin: 60px auto;
}

.future-info {
  margin: 20px auto;
  transition: all 0.3s ease-in-out;
}

.future-info:hover {
  background-color: rgba(56, 150, 179, 0.212);
  border-radius: 8px;
}

.future-day {
  font-size: 20px;
  margin: 40px auto 10px 4px;
}

.future-icon {
  font-size: 40px;
  max-width: 100%;
  max-height: 100%;
  margin: 15px 1px;
}

.future-icon:hover {
  color: rgb(253, 231, 215);
}

.future-degree {
  font-size: 18px;
  margin: 10px auto 40px;
}

#update {
  font-size: 14px;
  color: rgba(68, 68, 68, 0.788);
}

.bottom-icons {
  font-size: 24px;
  margin: auto 3px;
  color: rgb(0, 0, 0);
  padding: 3px;
}

.developersInfo {
  text-align: center;
}

.linkedin:hover {
  background-color: white;
  color: #0077b5;
}

.instagram:hover {
  color: white;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  border-radius: 4px;
}

.gmail:hover {
  background-color: white;
  color: #fd0429;
}

.github:hover {
  color: white;
  background-color: black;
}

.city {
  padding-right: 30px;
  margin: auto;
  padding-bottom: 14px;
  font-weight: 700;
}

.column-2 {
  margin-left: -30px;
  margin-right: 28px;
}

.column-3 {
  padding-left: 64px;
}

.column-4 {
  padding: 0;
  position: relative;
  left: -10px;
  font-size: 15px;
  top: 64px;
}

.high {
  color: #e2175a;
}

.low {
  color: #2d56c9;
}

.coder {
  text-align: center;
  font-size: 14px;
  line-height: 2.5;
}

.source-code {
  color: #e60b54;
  font-weight: 700;
  text-decoration: none;
}
